<%= form_for(@lost_found) do |f| %>
  <% if @lost_found.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lost_found.errors.count, "error") %> prohibited this lost_found from being saved:</h2>

      <ul>
      <% @lost_found.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :approved %><br />
    <%= f.check_box :approved %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

<% end %>
