<h1>Listing of Items that have been Found at Brandeis</h1>

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Description</th>
    <th>Approved</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lost_founds.each do |lost_found| %>
  <% if !(lost_found.approved || (current_user.id == lost_found.user_id)) then next; end %>
  <tr>
    <td><%= lost_found.user_id %></td>
    <td><%= lost_found.title %></td>
    <td><%= lost_found.description %></td>
    <td><%= lost_found.approved %></td>
    <td><%= link_to 'Show', lost_found %></td>
<% if current_user.id == lost_found.user_id %>
    <td><%= link_to 'Edit', edit_lost_found_path(lost_found) %></td>
    <td><%= link_to 'Destroy', lost_found, confirm: 'Are you sure?', method: :delete %></td>
<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lost found', new_lost_found_path %>
